$w-list:320px,360px,375px,412px,414px;
$design-size:750px;
*{
    padding: 0;
    margin: 0;
    list-style: 0;
}
html{
    font-size: 100px;
}
body{
    width: 100%;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
}
@mixin center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
@each $w in $w-list{
    @media screen and (min-width:#{$w}){
        html{
            font-size: 100px*$w/$w-list;
        }
        /*首页*/
        #zhu{
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width:4rem;
            }
        }
        /*列表页*/
        #yin{
           width: 100%;
           height: 100%;
           overflow: hidden; 
//         background: #D1CECE;
           display: none;
           #di-box{
               width:3rem;
               height: 0.02rem;
               background: #fff;
               margin: 0.2rem auto;
               position: relative;
               #di{
                   position: absolute;
                   top:-0.04rem;
                   right: -0.04rem;
                   width: 0.1rem;
                   height: 0.1rem;
                   background: #3C7A03;
                   border-radius: 50%;
               }
           }
           #mune{
               margin-left:0.15rem;
               color: #3C7A03;
           }
           #tui{
               margin: 0.1rem auto;
               color: #F27929;
               font-size: 0.2rem;
               width: 0.8rem;
           }
           .ge-box{
               width: 1.6rem;
               height: 1.8rem;
               float: left;
               box-sizing: border-box;
               border: 1px solid #9B1CE6;
               margin: 0.1rem 0.13rem;
               .ge-name,.ge-au{
                   height: 0.8rem;
                   text-align: center;
                   line-height: 0.8rem;
                   color: #2369B6;
               }
           }
        }
        /*详情页*/
        #back{
           width: 100%;
           font-size: 14px;
           background-image:url(img/qu.jpg);
           background-size:10rem;
           background-repeat: no-repeat;
           overflow: hidden; 
           display: none;
        }
        /*歌曲名*/
        #header{
            width: 100%;
            height: 0.6rem;
            color: #fff;
            text-align: center;
            line-height: 0.6rem;
            position: relative;
            .back{
                position: absolute;
                left: 0.2rem;
                top: 0;
                img{
                    width:0.2rem;
                }
            }
            #name{
                font-size: 0.25rem;
            }
            .more{
                position: absolute;
                right: 0.2rem;
                top: 0;
                img{
                    width:0.2rem;
                }
            }
        }
        
        /*作者*/
        #author{
            widows: 100%;
            height: 0.3rem;
            color: #fff;
            text-align: center;
            line-height: 0.3rem;
        }
        /*选择*/
       #select{
           width: 100%;
           height: 0.3rem;
           text-align: center;
           line-height: 0.3rem;
           span{
               border: 1px solid #3C7A03;
               color: #3C7A03;
               font-size: 12px;
               padding: 0.05rem;
           }
           #dts{
               border-color: #777;
               color: #777;
               font-weight:600;
               font-family: "微软雅黑";
           }
       }
       /*图片*/
       #pic{
           width: 3.2rem;
           height: 3.2rem;
//         background: red;
           border-radius: 50%;
           margin: 0.2rem auto;
           overflow: hidden;
       }
       .zhuan{
           animation: zhuan 3600s linear both;
       }
       @keyframes zhuan{
           0%{
               transform:rotateZ(0deg);
           }
           100%{
               transform:rotateZ(7200deg);
           }
       }
       /*歌词*/
      #ci-box{
          text-align:center;
          #ci{
              color: #fff;
          }
      }
      /*选项卡*/
     #huan{
         text-align: center;
         margin: 0.05rem auto;
         span{
             display: inline-block;
             width: 0.1rem;
             height: 0.1rem;
             background: #A56D53;
             border-radius: 50%;
         }
         .ing{
             background: #fff;
         }
     }
     /*时间和进度条*/
    #jin-box{
        overflow: hidden;
        padding:0 0.15rem;
        height: 0.2rem;
        line-height: 0.2rem;
        position: relative;
        #current{
            float: left;
            color: #fff;
        }
        #pi-box{
            @include center;
            width: 2.6rem;
            background: #F0F0F0;
            height: 0.02rem;
            border-radius:0.1rem;
            #pi{
                position: absolute;
                left:-0.04rem;
                top:-0.03rem;
                width: 0.08rem;
                height: 0.08rem;
                border-radius: 50%;
                background: #3C7A03;
            }
        }
        #duration{
            float: right;
            color: #fff;
        }
    }
    /*播放和切歌*/
   #qie-box{
       text-align: center;
       margin-top:0.1rem;
       img{
           margin-right: 0.1rem;
       }
   }
   /*列表*/
    #lie-box{
        text-align: center;
        margin-top:0.1rem;
        margin-bottom:0.14rem;
        img{
            width: 0.3rem;
            margin-right: 0.35rem;
        }
        img:nth-child(5){
            margin-right: 0;
        }
    }
    /*隐藏的列表*/
    .yin{
        width: 100%;
        height: 5rem;
        background:rgba(41,41,41,0.7);
        position: absolute;
        bottom:-5rem;
        left: 0;
        display: none;
//      position: relative;
        #yin-top{
            width: $w;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 44;
            height: 0.6rem;
            line-height: 0.6rem;
            border-bottom: 1px solid #F0F0F0;
            padding: 0 0.15rem;
            .span1{
                color: #fff;
                float: left;
                font-size: 18px;
                img{
                    width: 0.25rem;
                    vertical-align: middle;
                }
            }
            .span2{
                float: right;
                img{
                    width: 0.25rem;
                    vertical-align: middle;
                }
            }
        }
    }
    .xian{
        animation:xian 2s ease both;
    }
    @keyframes xian{
        0%{
            bottom:-5rem;
        }
        100%{
            bottom:0;
        }
    }
    /*歌曲*/
    #mu-list{
        margin-top:0.6rem;
        padding:0 0.1rem;
        box-sizing: border-box;
        li{
            padding: 0.1rem 0;
            height: 0.3rem;
            line-height: 0.3rem;
            border-bottom: 1px solid #CBCBCB;
            .name{
                color: #fff;
                font-size: 18px;
                float: left;
            }
            .author{
                color: #CBCBCB;
                float: left;
                margin-left: 0.1rem;
            }
            .love{
                float: right;
                margin-right: 0.1rem;
                img{
                    width: 0.2rem;
                    vertical-align: middle;
                }
            }
            .dele{
                float: right;
                margin-right: 0.1rem;
                img{
                    width: 0.2rem;
                    vertical-align: middle;
                }
            }
        }
        .active{
            .name,.author{
                color:#3C7A03;
            }
        }
    }
        /*添加*/
       #add{
           font-size: 16px;
           color: #fff;
           text-align: center;
           padding: 0.1rem;
       }
       /*关闭*/
       #close{
           font-size: 16px;
           padding: 0.2rem 0;
           color: #fff;
           text-align: center;
           border-top: 1px solid #F0F0F0;
           position: absolute;
           left: 0;
           bottom: 0;
           width: $w;
       }
    }
}
